.search-bar {
  display: flex;
  justify-content: center;
  flex: 0 0 80%;
}

.breathSpace {
  margin-right: 10px;
}

.searchLogin {
  margin-top: 10px;
  display: flex;
  margin-bottom: 10px;
}

.page-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor {
  cursor: pointer;
}

.login {
  margin-left: 10px;
}
