<div class="d-flex flex-row">
  <div class="p-2">
    <div [ngClass]="getNumberOfStars()" class="rating large star-icon color-negative label-top">
      <div class="star-container">
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="p-2">
    {{review.text}}
  </div>
</div>
