.userReview {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.userReviewPhoto {
  height: 100px;
  weight: 200px;
}

.business {
  display: flex;
}

.photoSection {
  margin-right: 20px;
  flex: 0 0 10%;
}

.businessDescSection {
  flex: 0 0 50%;
}

.starRating {
  margin-left: 0;
}

.LineFour {
  display: flex;
}

.reviewDate {
  margin-left: 10px;
}

.shadowMargin {
  margin-bottom: 15px;
  box-shadow: 4px 5px 8px #888888;
}

.userReview-business {
  flex: 0 0 35%;
  justify-content: center;
}

.userReview-text {
  padding: 20px;
  flex: 0 0 65%;
}
