.fontBold {
  font-weight: bold;
}

.businessPic {
  max-width: 400px;
  margin: 10px;
}

.my-app-custom-plain-container-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.my-app-custom-plain-container-row .my-app-custom-image-row {
  cursor: pointer;
  height: auto;
  margin-right: 2px;
  width: 50px;
}


.my-app-custom-plain-container-row .my-app-custom-image-row.after {
  border-top: 2px;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.more {
  background: rgba(0, 0, 0, .7);
  cursor: pointer;
  color: #FFF !important;
  padding-top: 4px;
  height: 50px;
  position: absolute;
  text-align: center;
  width: 50px;
}
