<div class="d-flex flex-column">
  <div class="p-2 fontBold">
    Address
  </div>
  <div class="p-2">
    <div class="row">
      <!--TODO: Combine strings in to one variable and trim the ending comma, length-1 if ,-->
      <div *ngIf="business.address">{{business.address}},</div>
      <div *ngIf="business.city">{{business.city}},</div>
      <div *ngIf="business.state">{{business.state}},</div>
      <div *ngIf="business.postalCode">{{business.postalCode}}</div>
    </div>
  </div>
  <div class="p-2 fontBold">
    {{isOpen}}
  </div>
</div>

<div>
  <!--TODO: ADD PRICE RANGE HERE-->
  price range is :{{priceRange}}
  <i class="fa fa-dollar" [ngStyle]="{'color':priceRange >= 1 ? 'red' : 'grey' }"></i>
  <i class="fa fa-dollar" [ngStyle]="{'color':priceRange >= 2 ? 'red' : 'grey' }"></i>
  <i class="fa fa-dollar" [ngStyle]="{'color':priceRange >= 3 ? 'red' : 'grey' }"></i>
  <i class="fa fa-dollar" [ngStyle]="{'color':priceRange === 4  ? 'red' : 'grey' }"></i>

</div>

<div>
  {{business.stars}} stars
  <div [ngClass]="getNumberOfStars()" class="rating medium star-icon color-negative label-top">
    <div class="star-container">
      <div class="star">
        <i class="star-empty"></i>
        <i class="star-half"></i>
        <i class="star-filled"></i>
      </div>
      <div class="star">
        <i class="star-empty"></i>
        <i class="star-half"></i>
        <i class="star-filled"></i>
      </div>
      <div class="star">
        <i class="star-empty"></i>
        <i class="star-half"></i>
        <i class="star-filled"></i>
      </div>
      <div class="star">
        <i class="star-empty"></i>
        <i class="star-half"></i>
        <i class="star-filled"></i>
      </div>
      <div class="star">
        <i class="star-empty"></i>
        <i class="star-half"></i>
        <i class="star-filled"></i>
      </div>
    </div>
  </div>
</div>


<!--Add more pictures-->
