.checked {
  color: red;
}

.shadowMargin {
  margin-bottom: 15px;
  box-shadow: 4px 5px 8px #888888;
}

.business-summary {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.firstLine {
  display: flex;
}

.businessName {
  margin-right: auto;
}

.starRating {
  margin-right: 0;
}

.secLine {
  display: flex;
}

.thirdLine {
  padding-top: 5px;
  display: flex;
}

.dollarSign {
  flex-shrink: 0;
}

.categories {
  flex-shrink: 1;
  padding-left: 30px;
  margin-right: auto;
}

.reviewCount {
  flex-shrink: 0;
  margin-right: 5px;
}

.businessImage {
  width: 50%;
  height: 20%;
}
