.checked {
  color: red;
}

.shadowMargin {
   margin-bottom: 15px;
   box-shadow: 4px 5px 8px #888888;
 }

.business-summary {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.firstLine {
  display: flex;
}

.businessName {
  margin-right: auto;
  cursor: pointer;
}

.starRating {
  margin-right: 0;
}

.secLine {
  display: flex;
}

.thirdLine {
  padding-top: 5px;
  display: flex;
}

.dollarSign {
  flex-shrink: 0;
}

.categories {
  flex-shrink: 1;
  padding-left: 30px;
  margin-right: auto;
}

.reviewCount {
  flex-shrink: 0;
  margin-right: 5px;
}

.businessImage {
  height: 100px;
  weight: 200px;
  margin-right: 50px;
}

.business {
  display: flex;
}

.rateReview {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.reviewTab {
  display: flex;
}

.reviews {
  flex: 0 0 70%;
}

.attributes {
  flex: 0 0 30%;
}

.tipTab {
  display: flex;
}

.tips {
  flex: 0 0 70%;
}


