<div class="container-fluid">
  <div *ngIf="user">
    <!--TODO: WORK ON CSS HERE-->
    <div class="row">
      <a [routerLink]="['/user-details']"
         [queryParams]="{userId:id}">
        {{user.userName}}
      </a>
    </div>
    <div class="row">
      {{user.reviewCount}} reviews
    </div>
  </div>
  <ng-container *ngIf="eliteYears&&eliteYears.length>0">
    Elite:
    <div *ngFor=" let eliteYear of eliteYears; let i=index">
      <div *ngIf="i<3">
        {{eliteYear.year}}
      </div>
    </div>
  </ng-container>
</div>
