<div *ngIf="business">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">{{business.name}}</a>
  </nav>
  <div *ngIf="isOpen; else notOpen">
    <div>
      <app-business [business]="business"></app-business>
    </div>
  </div>
  <ng-template #notOpen>
    Business is Not Open
  </ng-template>
  <div *ngIf="isOpen">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Reviews({{business.reviewCount}})
        </ng-template>
        <div class="reviews">
          <app-reviews [businessId]="businessId"></app-reviews>
          <app-attributes [attributes]="attributes"></app-attributes>
        </div>
      </mat-tab>
      <mat-tab label="Tips">
        <div class="tips">
          <app-tips [businessId]="businessId"></app-tips>
          <app-attributes [attributes]="attributes"></app-attributes>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


