<div *ngIf="business">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">{{business.name}}</a>
  </nav>
  <div *ngIf="isOpen; else notOpen">
    <div>
      <app-business
        (displayAllPhotos)="onDisplayAllPhotos($event)"
        [business]="business">
      </app-business>
    </div>
  </div>
  <ng-template #notOpen>
    Business is Not Open
  </ng-template>
  <div *ngIf="isOpen && !displayAllPhotos">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Reviews({{business.reviewCount}})
        </ng-template>
        <div class="reviews">
          <div class="reviews-reviews">
            <app-reviews [businessId]="businessId"></app-reviews>
          </div>
          <div class="reviews-attributes">
            <app-attributes [attributes]="attributes"></app-attributes>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Tips">
        <div class="tips">
          <div class="tips-tips">
            <app-tips [businessId]="businessId"></app-tips>
          </div>
          <div class="tips-attributes">
            <app-attributes [attributes]="attributes"></app-attributes>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="displayAllPhotos">
    <app-photos [business]="business"></app-photos>
  </div>
</div>


