<div class="d-flex flex-row" *ngIf="showAttributeName">
  <div class="p-2">
    {{attribute.name}}
  </div>
  <div class="p-2 attributeValue">
    {{attributeValue}}
  </div>
<!--TODO: PASS PRICERANGE TO BUSINESSSUMMARY COMPONENT-->
  price range is :{{priceRange}}
  <i class="fa fa-dollar" [ngStyle]="{'color':priceRange >= 1 ? 'red' : 'grey' }"></i>
  <i class="fa fa-dollar" [ngStyle]="{'color':priceRange >= 2 ? 'red' : 'grey' }"></i>
  <i class="fa fa-dollar" [ngStyle]="{'color':priceRange >= 3 ? 'red' : 'grey' }"></i>
  <i class="fa fa-dollar" [ngStyle]="{'color':priceRange === 4  ? 'red' : 'grey' }"></i>

</div>
