<ng-container *ngIf="businessLoaded; else missInfo">
  <div *ngFor="let business of pagedItems; let i = index">
    <app-business-summary
      [business]="business"
      [index]="i">
    </app-business-summary>
  </div>
  <div class="container">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First Page</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of pager.pages"
          [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last Page</a>
      </li>
    </ul>
  </div>
</ng-container>

<ng-template #missInfo>
  <div class="alert alert-danger" role="alert">
    <strong>Woops!</strong> {{errorMsg}}
    <!--TODO: CHAGNE ABOVE STRING TO STRING VARIABLE, SO YOU CAN ASSIGN DIFFERENT STRING VALUES BASED ON INPUT-->
  </div>
</ng-template>


<!--TODO: CREATE ANOTHER ALERT TO DISPLAY CANNOT FIND CORRESPONDING BUSINESS-->






