<div>
  <button type="button"
          (click)="openDialog()"
          class="btn btn-primary">
    write a review
  </button>

  <Input type="text"
         [(ngModel)]="searchKeyword"
         ngDefaultControl>
  <button
    (click)="filterReviews(searchKeyword)">
    <i class="fa fa-search"></i>
  </button>
  <div *ngIf="searched">
    <div>
      We found {{filteredReviewList.length}} reviews containing
      <!--TODO fix 2 way binding after first search, show typed word after press button-->
      <span class="searchKeyword">{{searchKeyword.slice(0,70)}}</span>
    </div>
  </div>
</div>

<!--TODO reload the page after do the search, refresh pagination-->
<ng-container *ngIf="reviews">
  <div class="reviews"
       *ngFor="let review of pagedItems">
    <div class="userContents">
      <app-user [id]="review.userId"></app-user>
    </div>
    <div class="reviewContents">
      <app-review [review]="review"></app-review>
    </div>
  </div>
  <div class="container">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First Page</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of pager.pages"
          [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last Page</a>
      </li>
    </ul>
  </div>
</ng-container>




