.reviewContents {
  flex: 0 0 90%;
}

.userContents {
  flex: 0 0 10%;
}

.reviews {
  display: flex;
  margin: 15px;
}

.writeReviewSearch {
  display: flex;
}

.searchKeyword {
  color: red;
  font-style: italic;
  font-weight: bold;
}
