<div class="container-fluid">
  <div class="center">
    <div class="justify-content-center">
      <div class="row d-flex flex-row">
        <div class="p-2">
          <input type="string"
                 placeholder="Please type the city"
                 [(ngModel)]='city'>
        </div>
        <div class="p-2">
        <input type="string"
               placeholder="Please type the businessName"
               [(ngModel)]='businessName'>
        </div>
        <div class="p-2">
        <button class="btn btn-primary"
                [routerLink]="['businesses','city',city,businessName]">
          Search
        </button>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

