<div class="container">
  <div class="user" *ngIf="user">
    <!--Username-->
    <div class="userName">
      <a [routerLink]="['/user-details']"
         [queryParams]="{userId:id}">
        {{user.userName}}
      </a>
    </div>
    <!--Number of reviews-->
    <div>
      {{user.reviewCount}} reviews
    </div>
    <!--Elite years-->
    <ng-container *ngIf="eliteYears&&eliteYears.length>0">
      <div class="elite">
        Elite:
        <div class="eliteYear" *ngFor="let eliteYear of eliteYears; let i=index">
          <div *ngIf="i<2">
            {{eliteYear.year}}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

