<h1 mat-dialog-title>Please write a tip for {{data.businessName}}</h1>
<div mat-dialog-content>
  <p>Your Tip</p>
  <mat-form-field class="tipSpace">
    <textarea matInput
              matTextareaAutosize
              matAutosizeMinRows=1
              matAutosizeMaxRows=3
              [(ngModel)]="data.text"
              placeholder="Share your tips with other people ">
    </textarea>
  </mat-form-field>
  <p>userId</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.userId">
  </mat-form-field>
</div>
<div mat-dialog-actions class="actionButtons">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    color="accent"
    [mat-dialog-close]="data"
    cdkFocusInitial
    (click)="submitTip(data)">
    Submit
    </button>
</div>
