.tips {
  display: flex;
  margin: 15px;
}

.tipsUser {
  flex: 0 0 20%;
}

.tipsTip {
  flex: 0 0 70%;
}

.upVote {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid silver;
  cursor: pointer;
}

.upVoteClicked {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid red;
  cursor: pointer;
}

.downVote {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-top: 15px solid silver;
  cursor: pointer;
}

.downVoteClicked {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-top: 15px solid red;
  cursor: pointer;
}
