<div>
  <button class="btn btn-primary" (click)="openDialog()">
    Write a Tip
  </button>
  <Input type="text"
         [(ngModel)]="searchKeyword"
         ngDefaultControl>
  <button
    (click)="filterTips(searchKeyword)">
    <i class="fa fa-search"></i>
  </button>
</div>
<ng-container *ngIf="tips" class="container">
  <div *ngFor="let tip of pagedItems">
    <div class="tips">
      <div class="tipsUser">
        <app-user [id]="tip.userId"></app-user>
      </div>
      <div>
        <div class="upVote"
             (click)="upVote(tip)"></div>
        {{tip.likes}}
        <div class="downVote" (click)="downVote(tip)"></div>
      </div>
      <div class="tipsTip">
        <app-tip [tip]="tip"></app-tip>
      </div>
    </div>
  </div>
  <div class="container">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First Page</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of pager.pages"
          [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last Page</a>
      </li>
    </ul>
  </div>
</ng-container>
