<div class="review">
  <div class="reviewStars">
    <div [ngClass]="getNumberOfStars()" class="rating small star-icon color-negative label-top">
      <div class="star-container">
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="reviewText">
    {{review.text}}
    <div class="reviewRate">
      <button
        mat-stroked-button
        color="primary"
        class="buttonBreath"
        (click)="reviewLabelClicked('useful')">
        Useful {{review.useful}}
      </button>
      <button
        mat-stroked-button
        color="primary"
        class="buttonBreath"
        (click)="reviewLabelClicked('funny')">
        Funny {{review.funny}}
      </button>
      <button
        mat-stroked-button
        color="primary"
        class="buttonBreath"
      (click)="reviewLabelClicked('cool')">
        Cool {{review.cool}}
      </button>
    </div>
  </div>
</div>
