<div class="review">
  <div class="reviewStars">
    <div [ngClass]="getNumberOfStars()" class="rating small star-icon color-negative label-top">
      <div class="star-container">
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
        <div class="star">
          <i class="star-empty"></i>
          <i class="star-half"></i>
          <i class="star-filled"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="reviewText">
    {{review.text}}
  </div>
</div>
